@import '../global.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sent {
  display: none;
}

.sent h1 {
  font-size: 5rem;
}

.send .sent {
  display: block;
}

#form {
  width: min(400px, 90%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.send #form {
  display: none;
}

#form input {
  background: #076df2;
  width: 100%;

  padding: 0.5rem;
  font-size: 1.8rem;
  color: #f0f2f2;
  border: 3px solid #f0f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.5);

  transition: box-shadow 500ms;
}

#form input:focus {
  box-shadow: none;
}

#form input::placeholder {
  color: #f0f2f2a6;
}

#form label {
  font-size: 2rem;
  margin-top: 2rem;
  max-width: max-content;
}

#form button {
  cursor: pointer;
  display: block;
  width: 125px;
  margin: 2rem auto 0;
  padding: 1rem;
  background: none;
  border: 3px solid #076df2;
  border-radius: 5px;
  color: #f0f2f2;
  font-size: 2rem;
  font-weight: bold;

  transition: background 300ms ease-in-out;
}

#form button:hover {
  background: #076df2;
}

@keyframes show-up {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    max-height: 10rem;
  }
}

@keyframes disappear {
  from {
    max-height: 10rem;
    opacity: 1;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

#form .error {
  color: #ff9494;
  animation: show-up 500ms forwards ease-in-out;
}

#form .error.disappear {
  animation: disappear 500ms forwards ease-in-out;
}

.obligations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.obligations li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.obligations li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff9494;
  transition: background 500ms;
}

.obligations li.check::before {
  background: #4bb543;
}
